/* Put your css in here */

.panel-filter-list {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.panel-filter-list li {
  cursor: pointer;
}
.selected {
  background-color:#dff0d8;
}
.btn-reset{
	border:none;
	background:none;
	position:absolute;
	top:5px;
	right:21px;
}
.btn-reset:focus{
    border:none;
    outline: none;
}
.list-hover li:hover, .list-hover li:nth-child(odd):hover {
  background-color: #fcf8e3;
}
.list-striped li:nth-child(odd) {
  background-color: #f9f9f9;
}